body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Coloca atrás do navbar */
    padding: 48px 0 0; /* Altura do navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Conteúdo com rolagem, se a viewport é menor que o conteúdo. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Conteúdo
   */
  
  [role="main"] {
    padding-top: 48px; /* Espaço para o navbar fixo. */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  
  /* icones materials */
.material-icons.md-24{
    color: rgb(0, 0, 0);
    font-size: 32px;
    
}   

.nav-item:hover a {
    font-size: 22px;
}  

.nav-sair{
    color: aliceblue;
}

/* nav bar top */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

.navbar {
    position: relative  !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    padding: 0px !important;
    margin: 0px   !important;
    background-color:rgb(17, 53, 19) !important;
    
}
.navbar a{
  color: aliceblue;
} 
.navbar a:hover{
  color: rgb(106, 178, 226);
  background: rgba(4, 36, 4, 0) !important;

} 

.modal-content{
    border: 1px solid silver;
    background-color: #ffffff;
}
.modal {
    background-image: url(../_imgs/back-login1.jpg);
}



/* tables */
.mytable{
  max-width: 98%;
  margin: auto;
  font-size: 1.1em;
}
#botao{
  float: left ;

}

/* boxtest do  tela de alterar dados de lanç */
.boxtest{
  background: rgba(0, 62, 121, 0.295);
}

.box{
  float: left;
  width: 45%;
  border:silver solid 1px;
  margin-left: 45px;
  margin-top: 20px;
}
/* bucar por categoria */
.pesquisa{
  width: 60px;
}

/* bucar por categoria */
.pesquisa{
  width: 15%;
  float: right;
  margin-right: 5px;
  
}